.home {
    background-color: #141414;
    .home__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-self: center;
        margin: 0 auto;
        height: 90vh;
        background-color: #141414;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0 50px;
        .home__content {
            h1 {
                font-size: 4rem;
                background-color: #ff8177;
                background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
                background-size: 100%;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                -webkit-text-fill-color: transparent;
                -moz-text-fill-color: transparent;
            }
            h2 {
                font-size: 2.4rem;
                background-color: #ff8177;
                background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
                background-size: 100%;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                -webkit-text-fill-color: transparent;
                -moz-text-fill-color: transparent;
            }
            p {
                margin-top: 1rem;
                font-size: 1.8rem;
                font-weight: 700;
                color: #fff;
            }
            .home__btn {
                font-size: 1rem;
                background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
                padding: 14px 32px;
                border: none;
                outline: none;
                border-radius: 4px;
                color: #fff;
                margin-top: 2rem;
                cursor: pointer;
                position: relative;
                transition: all 0.5s ease;
                a {
                    position: relative;
                    z-index: 2;
                    color: #fff;
                    text-decoration: none;
                }
                &:after {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 100%;
                    background-color: #4837ff;
                    transition: all 0.4s ease;
                    border-radius: 4px;
                }
                &:hover {
                    color: #fff;
                }
                &:hover:after {
                    width: 100%;
                }
            }
        }
        .home__img--container {
            text-align: center;
            #home__img {
                height: 80%;
                width: 80%;
            }
        }
    }
}

/* Media queries */
@media screen and (min-width: 481px) and (max-width: 1028px) {
    .home {
        .home__container {
            display: grid;
            grid-template-columns: auto;
            align-items: center;
            justify-self: center;
            width: 100%;
            margin: 0 auto;
            height: 120vh;
            .home__content {
                text-align: center;
                margin-bottom: 4rem;
                h1 {
                    font-size: 5rem;
                    margin-top: 4rem;
                }
                h2 {
                    font-size: 2.8rem;
                }
                p {
                    font-size: 2rem;
                    margin-top: 2rem;
                }
            }
        }
    }
}
@media screen and (min-width: 0px) and (max-width: 480px) {
    .home {
        .home__container {
            display: grid;
            grid-template-columns: auto;
            align-items: center;
            justify-self: center;
            width: 100%;
            margin: 0 auto;
            height: 90vh;
            .home__content {
                text-align: center;
                margin-bottom: 4rem;
                h1 {
                    font-size: 4rem;
                    margin-top: 4rem;
                }
                h2 {
                    font-size: 2.3rem;
                }
                p {
                    font-size: 1.6rem;
                    margin-top: 3rem;
                }
            }
        }
    }
}